<header id="header">
  <a href="{{ site.url }}">
    <div class="logo">
      <span class="icon fa-gem"></span>
    </div>
  </a>
  <div class="content">
    <div class="inner">
      <h1 class="subtitle">{{ site.author }}</h1>
      <h2 class="title">{{ site.title }}</h2>
      <h3 class="heading">{{ site.subtitle }}</h3>
      <p>Hi! I'm Mat, a fullstack developer with a love for all code from front-end to back-end. I currently develop in both WordPress and Shopify on a daily basis.</p>
    </div>
  </div>
  <nav>
    <ul>
      <li><a href="#intro">Intro</a></li>
      <li><a href="#work">Work</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
</header>